fastapi==0.135.1
uvicorn[standard]==0.41.0
pydantic==2.12.5
pydantic-settings==2.13.1
httpx==0.28.1
python-dotenv==1.2.2
python-multipart>=0.0.9

groq
paddleocr
paddlepaddle
pillow
numpy==2.4.3

PyMuPDF==1.25.3
python-docx==1.1.2
lxml==6.0.2

requests==2.32.5
chardet==5.2.0
urllib3==2.3.0
PyYAML==6.0.2

torch
torchvision
accelerate==1.1.1
huggingface-hub==0.26.5
tokenizers==0.20.3
transformers==4.46.3
sentence-transformers==3.3.1
sentencepiece==0.2.0
