/* src/features/board/pages/notice/NoticeDetail.module.css */
.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.title {
  font-size: 1.8rem;
  color: #2db400;
  margin-bottom: 20px;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.table th {
  width: 25%;
  background-color: #a8a5a52e;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  margin-top: 20px;
}

.button {
  background-color: #2db4005a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #239400;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 50px;
  color: #555;
}
