/* src/features/facility/pages/user/facility/UserFacilityList.module.css */

.container {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  color: #525f7f;
}

.title {
  font-weight: 700;
  color: #32325d;
  margin-bottom: 30px;
  padding-left: 15px;
}